footer {
    text-align: center;
    padding: 5px;
    background-color: #bf87ff;
    color: white;
    border-radius: 5px;
}
ul {
    list-style: none;
    justify-content: center;
    gap: 20px;
    color: aliceblue;
    text-decoration: none;
}
ul a {
    color: aliceblue;
    text-decoration: none;
}
ul a:visited {
    text-decoration: none;
    color: aliceblue;
}
