* {
    justify-items: center;
    text-align: center;
}
.perfil {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
.perfil-left, .registro-de-compra {
    width: 50%;
}
.perfil-left {
    margin: 4px 0;
}
button {
    font-family: 'Times New Roman', Times, serif;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 30px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    margin: 20px;
    border: #333 solid 1px;
}
table {
width: 100%;
border-collapse: collapse;
font-size: 0.9rem;
}

th, td {
border: 1px solid #ccc;
padding: 0.6rem;
text-align: left;
}

thead {
background-color: #f9f9f9;
font-weight: bold;
}