<app-nav-bar></app-nav-bar>
<header>
    <h1>✨ Bienvenido a Idolverse ✨</h1>
    <p>Tu universo K-Pop, creado por y para Neverland.</p >
</header>
<!-- Sección de novedades -->
<section class="novedades">
    <h2>🎵 Novedades Destacadas</h2>
    <div class="productos">
        <div class="producto">
            <img src="https://nolae.es/cdn/shop/files/sway__95462.webp?v=1718087632&width=1200" alt="Nuevo Álbum">
            <p>🆕 Nuevo Álbum - Disponible en pre-venta</p >
        </div>
        <div class="producto">
            <img src="https://cokodive.com/cdn/shop/files/BIGBANG_LIGHT_STICK_5c9b4916-3975-46e2-9bca-d36ba8edd8e6_5000x.png?v=1742542837" alt="Lightstick">
            <p>💜 Lightstick Oficial - Últimas unidades</p >
        </div>
    </div>
</section>
<app-footer></app-footer>
