<app-nav-bar></app-nav-bar>
<div class="carrito">
  <h1>Carrito de Compras</h1>
  
  <div class="productos">
    <div *ngIf="cart.length === 0">
      <p>Tu carrito está vacío.</p>
      <button (click)="goToHome()">Volver a la tienda</button>
    </div>
    <div class="producto" *ngFor="let item of cart; let i = index">
      <img [src]="item.image" alt="{{ item.name }}" />
      <h2>{{ item.name }}</h2>
      <p>Precio: {{ item.price | currency }}</p>
      <button (click)="removeItem(item)">Eliminar</button>
    </div>
  </div>
  <div class="total">
    <h4>Total: {{ total | currency }}</h4>
    <button (click)="checkout()">Realizar Pago</button>
  </div>
</div>
<app-footer></app-footer>
