<app-nav-bar></app-nav-bar>
<!-- <div class="carrito"> -->
<div class="carrito">
  <h1>Carrito de Compras</h1>
  <div class="productos">
    <div class="producto" *ngFor="let producto of productos">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}">
      <h2>{{ producto.nombre }}</h2>
      <p>Precio: {{ producto.precio | currency }}</p>
      <button (click)="removeItem(producto)">Eliminar</button>
    </div>
  </div>
  <div class="total">
    <h2>Total: {{ total | currency }}</h2>
    <button (click)="realizarPago()">Realizar Pago</button>
  </div>
