.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}
button {
  margin-left: auto;
  background-color: #bf87ff;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}