<app-nav-bar></app-nav-bar>
<div class="merch-container">
  <h1>Merch Oficial</h1>
  <p>En esta sección encontrarás todo el merchandising oficial de tus idols favoritos.</p>
  <!-- Path: idolverse/src/app/componentes/merch-oficial/merch-oficial.component.ts -->
  <div class="merch-list">
    <div class="merch" *ngFor="let merch of pagedMerch">
      <img [src]="merch.image" alt="{{ merch.name }}" />
      <h2><a href="">{{ merch.name }}</a></h2>
      <p>Precio: €{{ merch.price}}</p>
      <button (click)="addToCart(merch)">🛒</button>
    </div>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">← Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente →</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
