<!-- NavBar Component -->
 <nav>
    <!-- left, logo y enlace -->
    <div class="nav-left">
        <div class="logo">
            <img src="/idolverse/img/idolverse_logo.jpg" alt="idolverse logo" />
            IDOLVERSE
        </div>
        <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/album">Álbumes</a></li>
            <li><a routerLink="/merch-oficial">Merch Oficial</a></li>
            <li><a routerLink="/neveland-zone">Neverland Zone</a></li>
            <li><a routerLink="/pre-ventas-y-exclusivos">Pre-ventas & Exclusivos</a></li>
            <li><a routerLink="/envios-y-soporte">Envíos & Soporte</a></li>
        </ul>

    </div>
    <!-- right, cuenta y carrito -->
    <div class="nav-right">
        <div class="nav-right">
            <!-- Botón de cuenta -->
            <button class="btn-account" (click)="goToProfile()">👤 Cuenta</button>
            <!-- Botón de carrito -->
            <button class="btn-cart" (click)="goToCart()">
                🛒 Carrito ({{ cartItemCount }})
            </button>
        </div>
    </div>
</nav>
