<!-- NavBar Component -->
 <nav>
    <!-- left, logo y enlace -->
    <div class="nav-left">
          <div class="logo-part">
            <a routerLink="/home" routerLinkActive="active">
              <img src="/assets/img/idolverse_logo.jpg" alt="idolverse" />
              IDOLVERSE
            </a>
        </div>
        <div class="hamburger" (click)="toggleMenu()">☰</div>
        <ul [ngClass]="{ 'open': menuOpen }">
            <li><a routerLink="/albumes" routerLinkActive="active">Álbumes</a></li>
            <li><a routerLink="/merchandising" routerLinkActive="active">Merch Oficial</a></li>
            <li><a routerLink="/neverland" routerLinkActive="active">Neverland Zone</a></li>
        </ul>
      </div>
    <!-- right, cuenta y carrito -->
    <div class="nav-right">
        <div class="nav-right">
            <!-- Botón de cuenta -->
            <button class="btn-account" (click)="goToProfile()">👤 Cuenta</button>
            <!-- Botón de carrito -->
            <button class="btn-cart" (click)="goToCart()">
                🛒 Carrito ({{ cartItemCount }})
            </button>
        </div>
    </div>
</nav>
